
#container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(253,253, 253);
    > header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        background-color: rgb(240,240,239);
        > img{
            width: 100px;
            border-radius: 100px;
        }
        > div{
            display: flex;
            align-items: center;
            gap: 30px;
            > a{
                text-decoration: none;
                color: rgb(8,46,57);
                font-size: 1.1rem;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            > button{
                border: none;
                background-color: rgb(8,46,57);
                color: rgb(240,240,239);
                min-width: 120px;
                min-height: 35px;
                border-radius: 7px;
                cursor: pointer;
                transition:  all 1s;
                &:hover{
                    background-color: transparent;
                    color: rgb(8,46,57);
                    border: 2px solid rgb(253,253, 253);
                }
                + button{
                    background-color: transparent;
                    color: rgb(8,46,57);
                    border: 2px solid rgb(253,253, 253);
                    &:hover{
                        background-color: rgb(8,46,57);
                        color: rgb(240,240,239);
                    }
                }
            }
        }
        > i{
            display: none;
            cursor: pointer;
        }
        + div{
            display: none;
        }
    }

    > section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
        margin-top: 50px;
        > div{
            > h1{
                color: rgb(8,46,57);
                font-size: 4rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            > p{
                margin-top: 10px;
                font-size: 1.1rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            > aside{
                margin-top: 50px;
                display: flex;
                align-items: center;
                gap: 30px;
                > button{
                    min-width: 200px;
                    min-height: 50px;
                    background-color: rgb(8,46,57);
                    color: rgb(253,253, 253);
                    border: none;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    + button{
                        background-color: rgb(217, 128, 33);
                    }
                    > i{
                        font-size: 1.5rem;
                        margin-right: 10px;
                    }
                }
            }
        }
        > img{
            width: 50%;
        }
    }

    > aside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
        margin-top: 100px;
        > img{
            width: 50%;
        }
        > div{
            > h2{
                font-size: 3rem;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(8,46,57);
            }
            > p{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.1rem;
                margin-top: 30px;
                margin-bottom: 50px;
            }
            > button{
                min-width: 200px;
                min-height: 40px;
                background-color: rgb(217, 128, 33);
                color: rgb(240,240,239);
                border-radius: 20px;
                border: none;
                cursor: pointer;
                &:hover{
                    background-color: transparent;
                    border: 2px solid rgb(240,240,239);
                    color: rgb(217, 128, 33);
                }
            }
        }
    }
    > nav{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        text-align: center;
        flex-direction: column;
        > h1{
            margin-top: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        > p{
            width: 48%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 20px;
            line-height: 25px;
        }
    }
    > summary{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        > section{
            width: 45%;
            background-color: rgb(240,240,239);
            min-height: 30vh;
            padding-bottom: 20px;
            > h2{
                margin: 20px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            > p{
                margin-left: 20px;
                margin-top: 10px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.1rem;
            }
            > button{
                margin-left: 20px;
                margin-top: 30px;
                min-width: 200px;
                min-height: 45px;
                background-color: rgb(8,46,57);
                color: rgb(240,240,239);
                border-radius: 5px;
                border: none;
                cursor: pointer;
            }
        }
    }
    > h1{
        text-align: center;
        margin-top: 130px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    > article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 100px;
        > nav{
            width: 30%;
            min-height: 30vh;
            background-color: rgb(240,240,239);
            margin-bottom: 30px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 4px;
            > i{
                margin-top: 20px;
                font-size: 40px;
            }
            > h4{
                margin-top: 40px;
                margin-bottom: 10px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            > p{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }

    > footer{
        background-color: rgb(8,46,57);
        width: 100%;
        min-height: 70vh;
        margin-top: 100px;
        border-top-left-radius: 70px;
        > article{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid rgb(94, 90, 90);
            > section{
                display: flex;
                align-items: center;
                flex-direction: column;
                > img{
                    width: 100px;
                }
                > p{
                    color: rgb(253,253, 253);
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: 20px;
                }
                > a{
                    text-decoration: none;
                    color: rgb(240,240,239);
                    margin-bottom: 30px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                > i{
                    margin-bottom: 30px;
                    font-size: 1.3rem;
                    color: rgb(240,240,239);
                }
                > h2{
                    color: rgb(240,240,239);
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                > div{
                    display: flex;
                    align-items: center;
                    min-width: 300px;
                    border: 2px solid rgb(217, 128, 33);
                    border-radius: 5px;
                    margin-top: 30px;
                    > input{
                        min-height: 40px;
                        flex: 1;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        padding: 0px 10px;
                    }
                    > button{
                        min-height: 40px;
                        background-color: rgb(217, 128, 33);
                        color: rgb(240,240,239);
                        border: none;
                        cursor: pointer;
                        min-width: 100px;
                    }
                }
                > button{
                    min-width: 300px;
                    margin-bottom: 20px;
                    min-height: 50px;
                    background-color: rgb(217, 128, 33);
                    color: rgb(253,253, 253);
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    + button{
                        background-color: rgb(203, 162, 68);
                    }
                }
            }
        }
        > p{
            margin-top: 50px;
            color: rgb(253,253, 253);
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding-bottom: 50px;
        }
    }
}
@media screen and (max-width:840px){
    #container{
        > header{
            > div{
                display: none;
            }
            > i{
                display: inline-block;
            }
            + div{
                justify-content: end;
                width: 100%;
                > section{
                    background-color: rgb(8,46,57);
                    width: 50%;
                    height: 100vh;
                    position: fixed;
                    border-radius: 8px;
                    /* top: 0; */
                    right: 0;
                    > i{
                        font-size: 1.8rem;
                        float: right;
                        margin: 20px;
                        color: rgb(240,240,239);
                    }
                    > div{
                        margin-top: 100px;
                        display: flex;
                        flex-direction: column;
                        margin-left: 20px;
                        a{
                            color: rgb(253,253, 253);
                            text-decoration: none;
                            margin-bottom: 30px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                        }
                        > button{
                            width: 90%;
                            min-height: 40px;
                            margin-bottom: 30px;
                            border-radius: 5px;
                            border: none;
                            background-color: rgb(203, 162, 68);
                            color: rgb(8,46,57);
                            cursor: pointer;
                            + button{
                                color: rgb(253,253, 253);
                            }
                        }
                    }
                }
            }
        }
        > section{
            flex-direction: column;
            padding: 0px;
            > div{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-bottom: 100px;
            }
        }

        > aside{
            flex-direction: column-reverse;
            align-items: center;
            padding: 0px;
            > div{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-bottom: 100px;
            }

            + aside{
                display: flex;
                flex-direction: column;
            }
        }

        > nav{
            > p{
                width: 90%;
            }
        }
        > summary{
            flex-direction: column;
            align-items: center;
            > section{
                width: 90%;
                margin-bottom: 40px;
            }
        }
        > article{
            flex-direction: column;
            align-items: center;
            > nav{
                width: 70%;
                margin-bottom: 30px;
            }
        }
        > footer{
            > article{
                flex-direction: column;
                align-items: start;
                margin-left: 50px;
                > section{
                    align-items: start;
                    margin-bottom: 50px;
                }
            }
        }
    }
}